.pageStyle {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.pageStyle_box {
  width: 90%;
}

.styleBox {
  display: flex;
  margin: 46px 0;
}

.insideStyleBox {
  width: 90%;
  background-color: white;
  border-radius: 14px;
  margin: auto;
  text-align: center;
}

.titleStyleBox {
  padding: 1em;
}
