.container-parent-artiste {
}

.container-art {
}

.banner-artiste-texte {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  min-height: 580px;
}

.artiste-info {
  /* border: 1px solid red; */
  color: white;
  height: 200px;
  margin-top: 210px;
  margin-left: 40px;
}

.artiste-nom {
  margin-bottom: 0px;
  font-size: 7em;
}
.boutton-play {
  width: 50px;
  margin-top: 15px;
  /* border: 1px solid red; */
}

.music-boutton {
  /* border: 1px solid wheat; */
  display: flex;
}

.music {
  padding-left: 17px;
}

.top-music {
  /* border: 1px solid red; */
  margin-bottom: 0px;
}
.title-music {
  /* border: 1px solid blue; */
  margin-top: 6px;
  font-style: italic;
}

.image-artiste {
  /* border: 1px solid red; */
  margin: 50px 70px -80px 0px;
  width: 600px;
}

.container-description-artiste {
  background-color: white;
  height: 450px;
  display: flex;
  justify-content: center;
}

.descritpion-artiste {
  /* border: 1px solid gray; */
  width: 50%;
  display: flex;
  text-align: justify;
  align-items: center;
  font-size: 1.7em;
  font-weight: bold;
}

@media screen and (max-width: 1320px) {
  .container-art {
    display: flex;
    flex-direction: column;
  }
  .banner-artiste-texte {
    display: flex;
    flex-direction: column;
  }
  .artiste-nom {
    font-size: 5em;
  }
  .artiste-info {
    height: 400px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 20px;
    margin-left: 12px;
  }
  .div-image {
    /* border: 1px red solid; */
    /* z-index: 1000; */
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
  }
  .image-artiste {
    position: relative;
    margin: -15px auto;
  }
  .container-description-artiste {
    /* margin-top: 400px; */
    /* border: 4px solid blue; */
    margin-top: 0px;
    height: auto;
  }
  .descritpion-artiste {
    padding: 30px;
    width: 80%;
  }
}
