.pageStyle {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 26px;
}

.pageStyle_box {
  width: 100%;
}

.insideStyleBox {
  width: 100%;
  background-color: white;
  text-align: center;
}

.titleStyleBox {
  margin: 26px 0px;
  padding: 22px;
}

.styleName {
  font-size: auto;
  background-color: rgba(5, 5, 5, 0.25);
  color: white;
}

@media screen and (min-width: 950px) {
  .pageStyle {
    flex-direction: row;
  }

  .pageStyle_box {
    margin-top: 10px;
  }

  .insideStyleBox {
    height: 600px;
  }

  .insideStyleBox:hover {
    transform: scale(1.1);
  }

  .titleStyleBox {
    font-size: 30px;
    padding-top: 225px;
  }
}
