.boxFestival {
  width: auto;
  margin: auto;
  margin-bottom: 0px;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  opacity: 0.8;
}

.styleNameFest {
  background: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 120px;
  text-shadow: black 2px 5px 50px;
}

.festival {
  background-color: #0e1f31;
}
/*----- partie description -------*/
.container-description {
  background-color: #0e1f31;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
}
.descriptionFestival {
  /* border: 1px solid white; */
  width: 400px;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
}

.details {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  font-size: 1.3em;
  margin: 0px;
}

.description {
  font-weight: bold;
}
.fleche {
  font-size: 1em;
}
.descriptionText {
  /* border: 1px solid red; */
  color: white;
  margin: 30px auto;
  font-size: 1.2em;
}
/* -----------partie icones --------------*/
.container-icones {
  /* border: 1px solid red; */
  display: flex;
  width: 90%;
  margin: 50px auto;
  justify-content: space-around;
}

.icone-texte {
  text-align: center;
}

.text-icone {
  color: white;
}

.image-icone {
  width: 50px;
}

/* -----  Partie Line Up ------ */
.lineUp {
  background-color: #0e1f31;
  display: flex;
  flex-direction: column;
}

.title-lineUp {
  /* border: 1px solid red; */
  background-color: white;
  border: 1px solid white;
  border-radius: 8px;
  color: black;
  font-size: 1.2em;
  display: flex;
  justify-content: space-around;
  width: 200px;
  margin: 25px auto;
  text-transform: uppercase;
}

.artist-name {
  /* border: 1px solid yellow; */

  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
}
.container-artist-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* ----- fin partie Line up ----- */
.packCadre {
  width: 90%;
  background: rgba(62, 100, 134, 0.83);
  border-radius: 11px;
}

.bouttonResa p {
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-decoration: none;
}
.cardsPack {
  display: flex;
  align-items: center;
  flex-direction: column;
}
