.search {
  width: 0;
  background: transparent;
  opacity: 0;
  text-decoration: none;
  border: none;
  transition: 350ms;
  pointer-events: none;
}
.search-icon {
  display: flex;
  font-size: 2rem;
  margin-top: 15px;
}
.search-icon svg {
  margin-top: 15px;
}
.search_active {
  display: flex;
  transition: 850ms;
  border: white;
  margin-top: 10px;
}
input.sc-bdVaJa {
  width: 280px;
  font-size: 15px;
  border-radius: 30px;
  height: 35px;
}
.sc-bwzfXH {
  font-size: 20px;
  z-index: 1000;
}
@media screen and (max-width: 950px) {
  .search {
    display: none;
  }
  .search_active {
    display: none;
  }
  .search-icon {
    display: none;
  }
}
