.search {
  width: 0;
  background: transparent;

  left: 100%;
  transition: 850ms;
  text-decoration: none;
  border: none;
}
.search_active {
  left: 0;
  transition: 850ms;
  border: white;
  border-radius: 20px;
  width: 50%;
  height: 30px;
  margin-top: 10px;
}
@media screen and (max-width: 950px) {
  .search {
    text-decoration: white;
    border-radius: white;
    border: white;
    border-radius: 20px;
    width: 90%;
    height: 5vh;
  }
  .search_active {
    display: none;
  }
}
